* {
    font-family: 'Montserrat', sans-serif;
}

header {
    font-size:36px;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size:36px;
    font-weight: bold;
}

/* .jumbotron {
    width:100%;
    background-image: url("../images/O97POP0.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:bottom;
    padding:240px 0 140px 0;
    margin-bottom:20px; 
} */

/* .jumbotron h1 {
    width:100%;
    position:absolute;top:0;left:0;
    text-align: center;
} */

h3 {
    font-size:18px;
}

body {
    /* width:100%; */
    /* background-image:"../images/ball-shaped-black-blur-6397.jpg";
    background-repeat: no-repeat;
    background-size: cover;  */
}

.word {
    font-size: 50px;
    padding: 20px;
}

.underscore_container {
    font-size: 30px;
    padding: 15px; 
    margin:15px;
}

.guesses_remaining {
    font-size: 14px;
    margin: 15px;
    padding: 15px;
}

#citypic {
    /* margin:auto;*/
} 

.letters_used {
    font-size: 14px;
    margin: 15px;
    padding: 15px;
}

.score {
    font-size: 14px;
    margin: 15px;
    padding: 15px;
}
